.enoslib {
  width: auto;
}

.enoslib_object {
  width: auto;
  font-size: 1em;
  line-height: 1.5;
  background-color: rgb(250, 249, 249);
  font-family: "Segoe UI";
  color: black;
}

.enoslib_object ul {
  padding: 0;
}

.enoslib_object input + label {
  margin-bottom: 0%;
}

.object_name {
  padding: 6px 0 6px 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777;
  color: #555;
}

.object_name > div,
.object_name > ul {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

ul.enoslist {
  list-style: none !important;
  padding: 3px !important;
  margin: 0 !important;
}

input.att + label {
  display: inline-block;
  /*width: 140px;*/
  color: rgb(36, 35, 35);
  font-weight: 500;
  padding: 4px 0 2px 0;
}

input.att:enabled + label {
  cursor: pointer;
  width: auto;
}

input.att {
  display: none;
}

input.att + label:before {
  display: inline-block;
  content: "►";
  font-size: 11px;
  width: 15px;
  text-align: center;
}

input.att:checked + label:before {
  content: "▼";
}

input.att:disabled + label:before {
  content: none;
}

input.att + label > span {
  display: inline-block;
  margin-left: 4px;
}

input.att + label > span.len {
  font-size: small;
}

input.att:checked + label > span.len {
  display: none;
}

label + span {
  color: rgb(70, 69, 69);
}

input.att ~ ul {
  display: none;
}

input.att:checked ~ ul {
  display: block;
}

table {
  width: auto;
  border-collapse: collapse;
  margin: 2%;
}

td,
th {
  padding: 8px;
  height: 15px;
  font-size: small;
}

td {
  text-align: left !important;
  color: rgb(160, 160, 160);
}

th {
  text-align: center;
  color: black;
}

input ~ ul {
  position: relative;
  left: 25px;
}

input.att ~ table {
  display: none;
}

input.att:checked ~ table {
  display: block;
}
